<h2 class="title">Editar vagas</h2>
<div class="box"></div>
<form class="cores" action="" style="text-align: center">
   
    <tr><td><label class="fonte1" for="">Id</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="id" [(ngModel)] = "vaga.id"></td></tr><br>
    <tr><td><label class="fonte2" for="">Nome</label>&nbsp;&nbsp;<input type="text" name="nome" [(ngModel)] = "vaga.nome"></td></tr><br>
    <tr><td><label class="fonte3" for="">Foto</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="foto" [(ngModel)] = "vaga.foto"></td></tr><br>
    <tr><td><label class="fonte4" for="">Descrição</label>&nbsp;&nbsp;<input type="text" name="descricao" [(ngModel)] = "vaga.descricao"></td></tr><br>
    <td><label class="fonte5" for="">Salário</label>&nbsp;&nbsp;<input type="text" name="id" [(ngModel)] = "vaga.salario"></td><br>
    <td><button type="button"  class="btn btn-success" (click)="cadastrar()">Incluir Vaga</button>&nbsp;
    <td><button type="button" class="btn btn-warning" (click)="atualizar(vaga.id)">Atualizar Vaga</button>&nbsp;
    <td><button type="button" class="btn btn-danger" (click)="excluir(vaga.id)">Excluir Vaga</button>
</form>


